p {  
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

address{  
  font-style: normal;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  width: 1052px;
  margin: auto;
  margin-top: 92px;
}

.header__menu {
  margin: auto;
}

.header__links-list {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  margin-left: 27px;
  text-transform: lowercase;
  list-style-type: circle;
  white-space: nowrap;
}

.header__links-list-item {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  list-style-position: inside;
}

.header__links-list .no-bullet {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header__link.active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  margin: auto;
}

.header__logo-image {
  width: 139px;
}

.header__address {
  margin: auto;
  margin-right: 60px;
}

.address {
  display: grid;
  gap: 2px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.13px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.address p {
  display: grid;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  margin-top: 96px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  width: 1000px;
  margin: auto;
  padding-top: 165px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 125px;
  letter-spacing: 0.3em;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.cover__title h1 {
  font-size: 100px;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text-center {
  display: block;
  text-align: center;
}

.aligned-text-right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.letter-spacing-medium {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  margin-top: 115px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cover__description-text span.whitespace {
  letter-spacing: 0.9em;
}

.cover__description-text span.whitespace-medium {
  letter-spacing: 0.8em;
}

.cover__description-text span.letter {
  letter-spacing: 1.1em;
}

.cover__description-text {
  float: left;
  margin: auto;
  margin-left: 78px;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.bet-button {
  float: right;
  margin: auto;
  margin-right: 50px;
  border: 1px white solid;
  padding: 12px 31px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.bet-button:hover {
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
}

.lots {
  width: 1052px;
  margin: auto;
  margin-top: 179px;
}

.lots__heading {
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  list-style-type: none;
}

.card-link {
  display: block;
  width: 334px;
  min-height: 563px;
}

.card {
  position: relative;
  width: 100%;
  min-height: 563px;
  background-position: center;
  background-size: cover;
  z-index: -2 ;
}

.card__overlay {
  display: grid;
  grid-template-rows: auto;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  width: 254px;
  margin: auto;
  margin-top: 51px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.card__text {
  justify-self: end;
  margin: auto;
  margin-bottom: 48px;
  width: 254px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.lots__look-more-link {
  display: block;
  width: 192px;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px black solid;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-underline-position: from-font;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  width: 1052px;
  margin: auto;
  margin-top: 146px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin: auto;
  margin-top: 35px;
  border-radius: 100%;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 148px;
  margin: auto;
}

.about__title {
  margin-top: 136px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.about__text {
  display: grid;
  gap: 24px;
  margin-top: 100px;
  font-size: 18px;
  font-weight: 400;
}

.about__text p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  width: 1000px;
  margin: auto;
  margin-top: 180px;
  margin-bottom: 88px;
}

.footer__menu {
  text-align: center;
  align-self: flex-start;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  align-self: flex-start;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  text-underline-position: from-font;
  text-transform: lowercase;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footer__menu-link.active {
  text-decoration: none;
}

.footer__social_list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}
